/* Contenedor del formulario */
.form-container {
    background-color: #f0e68c;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    max-width: 500px;
    margin: 2rem auto;
}

/* Título del formulario */
.form-title {
    font-size: 1.5rem;
    color: #008080;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

/* Botón de carga de archivos */
.custom-file-input::-webkit-file-upload-button {
    background-color: #008080;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-file-input::-webkit-file-upload-button:hover {
    background-color: #006666;
}

/* Botón de envío del formulario */
#boton-subir {
    background-color: #008080;
    border: none;
    transition: background-color 0.3s;
}

#boton-subir:hover {
    background-color: #006666;
}
